<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--允许App连接到配对的蓝牙设备（兼容低版本）-->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />

    <!--允许App发现和配对蓝牙设备（兼容低版本）-->
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!--若App需要扫描蓝牙设备，申请此权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!--若App使当前设备可供其他蓝牙设备发现，申请此权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!--若App与蓝牙设备配对、通讯，申请此权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!--若App通过蓝牙扫描结果获取物理位置，申请此权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>